#| Fomu-PVT


#> Clock (48 MHz)
set_io --warn-no-port FomuPVT_CLK F4


#> Tri-colour LED
set_io --warn-no-port FomuPVT_RGB0 A5
set_io --warn-no-port FomuPVT_RGB1 B5
set_io --warn-no-port FomuPVT_RGB2 C5


#> Buttons
set_io --warn-no-port FomuPVT_USER1 E4
set_io --warn-no-port FomuPVT_USER2 D5
set_io --warn-no-port FomuPVT_USER3 E5
set_io --warn-no-port FomuPVT_USER4 F5


#> SPI
set_io --warn-no-port FomuPVT_SPI_MOSI F1
set_io --warn-no-port FomuPVT_SPI_MISO E1
set_io --warn-no-port FomuPVT_SPI_CLK D1
set_io --warn-no-port FomuPVT_SPI_IO2 F2
set_io --warn-no-port FomuPVT_SPI_IO3 B1
set_io --warn-no-port FomuPVT_SPI_cs C1


#> USB
set_io --warn-no-port FomuPVT_USB_DN A2
set_io --warn-no-port FomuPVT_USB_DP A1
set_io --warn-no-port FomuPVT_USB_DP_PU A4
