#> GP I/O (bottom of the board)
set_io --warn-no-port TinyFPGABX_PIN_25 G1
set_io --warn-no-port TinyFPGABX_PIN_26 J3
set_io --warn-no-port TinyFPGABX_PIN_27 J4
set_io --warn-no-port TinyFPGABX_PIN_28 G9
set_io --warn-no-port TinyFPGABX_PIN_29 J9
set_io --warn-no-port TinyFPGABX_PIN_30 E8
set_io --warn-no-port TinyFPGABX_PIN_31 J2
