#> FTDI
# FTDI 0
set_io --warn-no-port IceStick_RES  66
set_io --warn-no-port IceStick_DONE 65
set_io --warn-no-port IceStick_SS   71
set_io --warn-no-port IceStick_MISO 68
set_io --warn-no-port IceStick_MOSI 67
set_io --warn-no-port IceStick_SCK  70
