#| iCEstick


#> Clock (12 MHz)
set_io --warn-no-port IceStick_CLK 21


#> LEDs
#    D1
# D4 D5 D2
#    D3
#
# D1-D4: red
# D5: green

set_io --warn-no-port IceStick_LED1 99
set_io --warn-no-port IceStick_LED2 98
set_io --warn-no-port IceStick_LED3 97
set_io --warn-no-port IceStick_LED4 96
set_io --warn-no-port IceStick_LED5 95


#> IrDA
set_io --warn-no-port IceStick_IR_TX 105
set_io --warn-no-port IceStick_IR_RX 106
set_io --warn-no-port IceStick_IR_SD 107


#> PMOD
#   ------      ---------
#  | 12 6 |    | 3V3 3V3 |
#  | 11 5 |    | GND GND |
#  | 10 4 |    |  91  81 |
#  |  9 3 |    |  90  80 |
#  |  8 2 |    |  88  79 |
#  |  7 1 | <  |  87  78 | <
#   ------      ---------

set_io --warn-no-port IceStick_PMOD1  78
set_io --warn-no-port IceStick_PMOD2  79
set_io --warn-no-port IceStick_PMOD3  80
set_io --warn-no-port IceStick_PMOD4  81
set_io --warn-no-port IceStick_PMOD7  87
set_io --warn-no-port IceStick_PMOD8  88
set_io --warn-no-port IceStick_PMOD9  90
set_io --warn-no-port IceStick_PMOD10 91


#> I/O
#          7    6    5    4    3    2    1    0
# TOP  | 119  118  117  116  115  114  113  112  GND  3V3 | <
# BOT  |  44   45   47   48   56   60   61   62  GND  3V3 | <

set_io --warn-no-port IceStick_TR0 112
set_io --warn-no-port IceStick_TR1 113
set_io --warn-no-port IceStick_TR2 114
set_io --warn-no-port IceStick_TR3 115
set_io --warn-no-port IceStick_TR4 116
set_io --warn-no-port IceStick_TR5 117
set_io --warn-no-port IceStick_TR6 118
set_io --warn-no-port IceStick_TR7 119

set_io --warn-no-port IceStick_BR0  62
set_io --warn-no-port IceStick_BR1  61
set_io --warn-no-port IceStick_BR2  60
set_io --warn-no-port IceStick_BR3  56
set_io --warn-no-port IceStick_BR4  48
set_io --warn-no-port IceStick_BR5  47
set_io --warn-no-port IceStick_BR6  45
set_io --warn-no-port IceStick_BR7  44


#> FTDI
# FTDI 0
set_io --warn-no-port IceStick_RES  66
set_io --warn-no-port IceStick_DONE 65
set_io --warn-no-port IceStick_SS   71
set_io --warn-no-port IceStick_MISO 68
set_io --warn-no-port IceStick_MOSI 67
set_io --warn-no-port IceStick_SCK  70

# FTDI 1
set_io --warn-no-port IceStick_DCD 1
set_io --warn-no-port IceStick_DSR 2
set_io --warn-no-port IceStick_DTR 3
set_io --warn-no-port IceStick_CTS 4
set_io --warn-no-port IceStick_RTS 7
set_io --warn-no-port IceStick_TX  8
set_io --warn-no-port IceStick_RX  9
