#| iCEstick


#> I/O
#          7    6    5    4    3    2    1    0
# TOP  | 119  118  117  116  115  114  113  112  GND  3V3 | <

set_io --warn-no-port IceStick_TR0 112
set_io --warn-no-port IceStick_TR1 113
set_io --warn-no-port IceStick_TR2 114
set_io --warn-no-port IceStick_TR3 115
set_io --warn-no-port IceStick_TR4 116
set_io --warn-no-port IceStick_TR5 117
set_io --warn-no-port IceStick_TR6 118
set_io --warn-no-port IceStick_TR7 119
